{% extends 'base.html' %}
{% block title %}{{ _('Trial Balance') }}{% endblock %}
{% block content %}
<h3 class="mb-3">{{ _('Trial Balance') }}</h3>
<div class="table-responsive">
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th>{{ _('Code') }}</th>
        <th>{{ _('Account') }}</th>
        <th class="text-end">{{ _('Debits') }}</th>
        <th class="text-end">{{ _('Credits') }}</th>
        <th class="text-end">{{ _('Balance') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td>{{ r.account.code }}</td>
        <td>{{ r.account.name }}</td>
        <td class="text-end">{{ r.debits }}</td>
        <td class="text-end">{{ r.credits }}</td>
        <td class="text-end">{{ r.balance }}</td>
      </tr>
      {% else %}
      <tr><td colspan="5">{{ _('No data') }}</td></tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2" class="text-end">{{ _('Totals') }}</th>
        <th class="text-end">{{ total_debits }}</th>
        <th class="text-end">{{ total_credits }}</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
